<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <xi:include href="layout.html" />
  <head>
    <title>Administration: Create Project Template</title>
  </head>
  <body>
    <div id="content" class="create-template">
      <h1>Project Templates</h1>
      <div id="about-template-create">
        <p>
          Create a template of your project as it currently stands.
          This can include all wiki pages, ticket types, workflows, milestone,
          mailing lists, membership groups and the latest revision from your
          Subversion repository (we currently do not offer the ability to export
          Git repositories). The template can then be used when a new #define project is created. 
        </p>
      </div>
      <div py:if="success" class="box-success color-none">
        <h3>
          <i class="icon-ok-sign"></i>
          Congratulations! You created a new template!
          <a id="template-info-toggle">More information.</a>
        </h3>
        <div id="template-info" class="hidden"> 
          <p>
            The following data was exported from your project into a new template called '${template_name}':
          </p>
          <ul id="template-component-toggle">
            <py:for each="label, component in (('Wiki Pages', wiki_pages),
                                               ('Wiki Attachments', attachments),
                                               ('Ticket Types', ticket_types),
                                               ('Workflows', workflow),
                                               ('Priorities', priority),
                                               ('Versions', versions),
                                               ('Components', components),
                                               ('Subversion Repositories', repos),
                                               ('Milestones', milestones),
                                               ('Groups', groups),
                                               ('Mailing lists', lists))">
              <py:if test="component">
                <li>
                  <a>${label} (${len(component)})</a>
                  <ul class="hidden">
                    <li py:for="individual in component">${individual}</li>
                  </ul>
                </li>
              </py:if>
            </py:for>
          </ul>
        </div>
      </div>
      <div py:if="failure" class="box-warning">
        <i class="icon-warning-sign"></i>
        <strong>
          A template with the name '${template_name}' already exists.
          Please try an alternative name.
        </strong>
      </div>
      <form id="create-template-form" class="form-block box-primary"
            action="" method="post">
        <h3>Create New Template</h3>
        <label for="template_name">
          Template Name
        </label>
        <input id="template-name" class="required" type="text" name="template_name" />

        <label for="template-description">
          Template Description
          <i id="description-handle" class="icon-info-sign color-muted-dark"></i>
        </label>
        <textarea class="required xsmall" name="description"></textarea>

        <label for="template-components">
          Components
          <i id="component-handle" class="icon-info-sign color-muted-dark"></i>
        </label>
        <select name="template_components" id="template-components" multiple="multiple">
          <option py:for="value, label in tpl_components" value="${value}"
                  py:content="label" selected="selected"></option>
        </select>

        <button type="submit" class="btn btn-mini btn-primary"
                name="template-submit" value="create">
          <i class="icon-hdd"></i> Create Template
        </button>
      </form>
      <table py:if="templates" class="rounded border-header full-width striped">
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Author</th>
          <th>Description</th>
          <th>Components</th>
        </tr>
        <py:for each="template in templates">
          <tr>
            <td>${template['name']}</td>
            <td>${template['created']}</td>
            <td>${template['author']}</td>
            <td>${template['description']}</td>
            <td>
              <py:for each="i, component in enumerate(template['components'])">
                ${component.capitalize()}<py:if test="i != len(template['components']) -1">, </py:if>
              </py:for>
            </td>
          </tr>
        </py:for>
      </table>
      <div class="box-info">
        <i class="icon-info-sign"></i>
        To remove a previously created template, please email servicedesk@logica.com
      </div>
      <div id="description-dialog" title="Template description" class="hidden">
        <p>
          Please provide a few words to describe the purpose of the template.
          In particular, is it designed for a particular project, or
          is it useful for any teams which implement specific methodologies (e.g Scrum,
          Waterfall etc.)
        </p>
      </div>
      <div id="component-dialog" title="Template components" class="hidden">
        <p>
          You can customise which parts of your project you export into a template. 
          For example you might only want to export wiki pages, mailing lists and 
          membership groups. By default all components are exported.
        </p>
        <p>
          When a new project is created with your template, default #define data will
          be used if you have not exported that component in your template.
        </p>
      </div>
    </div>
  </body>
</html>